@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.friends{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Roboto Mono', monospace;
}
.card{
    border: 1px solid #F3FAFB;
    padding: 70px 50px;
    background-color:  #F3FAFB;
    border-radius: 10px;
}

.about{
    margin-bottom: 20px;
}
.members{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}
.members a{
    text-decoration: none;
    color: blue;
    border: 2px solid blue;
    padding: 5px;
    border-radius: 5px;
}

.find{
    width: 330px;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    margin-bottom: 20px;
}

.link {
    margin-bottom: 30px;
}
.link p{
    margin-bottom: 20px;
}
.link a{
    border: 1px solid lightgrey;
    background-color: white;
    padding: 15px 40px 15px 10px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.people{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.people img{
    width: 50px;
    border-radius: 100px;
}
.people a{
    text-decoration: none;
    color: white;
    border: 1px solid #262938;
    background-color: #262938;
    padding: 5px 10px;
    border-radius: 5px;
}